<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>

<style>
    h2 {
        margin-bottom: 25px;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.9);
        color: #ffffff;
        text-align: start;
    }
    .card {
        box-shadow: 0 2px 6px;
        padding: 15px 20px;
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        background-color: #ffffff;
    }
</style>

<body style="margin: 25px 20px; background-color: #ddd">
<div style="margin: 25px;">
    <h2>주문서 정보</h2>
    <div class="card">
        <div class="card-body" style="height: 100%; overflow-y: auto;">
            <h4>주문번호</h4>
            <p th:text="${order.getId()}"></p>
            <h4>이메일</h4>
            <p th:text="${order.getEmail()}"></p>
            <h4>주문일시</h4>
            <p th:text="${#temporals.format(order.getCreatedAt(), 'yyyy년 MM월 dd일 HH:mm:ss')}"></p>
            <h4>주소</h4>
            <p th:text="${order.getAddress()}"></p>
            <h4>우편번호</h4>
            <p th:text="${order.getPostalCode()}"></p>
            <h4>상태</h4>
            <p th:text="${(order.getStatus() % 2 == 1) ? '배송중' : '배송준비중'}"></p>
            <h4>주문내역</h4>
            <table class="table table-bordered" style="text-align: center;">
                <thead class="table table-info">
                <tr>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>수량</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="info: ${order.getProductOrders()}">
                    <td th:text="${info.getProductName()}"></td>
                    <td th:text="${info.getPrice()}"></td>
                    <td th:text="${info.getAmount()}"></td>
                </tr>
                </tbody>
            </table>
            <h4>주문금액</h4>
            <p th:text="${order.getTotalPrice()}"></p>
        </div>
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary" style="width: 80px;" onclick="window.history.back()">확인</button>
        </div>
    </div>
</div>

</body>
</html>