<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
</head>
<body>
<div style="margin: 25px 20px;">
    <h2>주문서 정보</h2>
    <div>
        <h3>주문번호</h3>
        <p th:text="${order.getId()}"></p>
        <h3>이메일</h3>
        <p th:text="${order.getEmail()}"></p>
        <h3>주문일시</h3>
        <p th:text="${#temporals.format(order.getCreatedAt(), 'yyyy년 MM월 dd일 HH:mm:ss')}"></p>
        <h3>주소</h3>
        <p th:text="${order.getAddress()}"></p>
        <h3>우편번호</h3>
        <p th:text="${order.getPostalCode()}"></p>
        <h3>상태</h3>
        <p th:text="${order.getStatus()}"></p>
        <h3>주문내역</h3>
        <table>
            <thead>
            <tr>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info: ${order.getProductOrders()}">
                <td th:text="${info.getProductName()}"></td>
                <td th:text="${info.getPrice()}"></td>
                <td th:text="${info.getAmount()}"></td>
            </tr>
            </tbody>
        </table>
        <h3>주문금액</h3>
        <p th:text="${order.getTotalPrice()}"></p>
    </div>
</div>
</body>
</html>